*{
    box-sizing: border-box;
}
.navbar-brand.brand{
    height: 60px;
    width: 230px;
    padding:20px 10px 10px 10px;
    background-color:#4aaaa5;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.container {
    background: white; 
    padding: 20px;
    height: fit-content;
    line-height: 30px;
    min-height: fit-content;
    margin-bottom: 50px;
    overflow: scroll;
    }
.heading{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.aboutMe-paragraph{
    padding: 0px;
    margin: 15px;
}
#myimage {
    width:250px;
    height: auto;
    padding: 20px;
}
/* Contacts */
.btn-primary {
    background-color: #4aaaa5;
}
/* Portfolio */
.col-md-6 img{
    margin: 20px, 0px, 20px, 20px;
    width: 300px;
}
.col-md-6 h3{
    background-color:#4aaaa5;
    color: #fff;
    width: 300px;
    height: auto;
    text-align: center;
    position: absolute;
    bottom: 20px;
    
}
/* Sticky Footer */
.footer {
    background: #666666;
    color: #ffffff;
    text-align: center;
    height: 70px;
    width: 100%;
    overflow: auto;
    border-top: 10px solid #4aaaa5;
    padding-top: 20px;
    margin-top: 60px;
    margin-bottom: 0px;
    position: fixed;
    left:0px;
    bottom:0px;
}